<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PC2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PC2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Registro">Registro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="InicioSesion">Iniciar Sesion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="ActualizarPerfil">Perfil</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <li class="d-flex flex-wrap">
            <a class="form-control col-4" asp-area="" asp-controller="Venta" asp-action="Catalogo">Catalogo de productos</a>
            <a class="form-control col-4" asp-area="" asp-controller="Venta" asp-action="ProductosDestacados">Productos Destacados</a>
            <a class="form-control col-4" asp-area="" asp-controller="Venta" asp-action="Servicios">Servicios</a>
        </li>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        
        
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - PC2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a class="ml-5" asp-area="" asp-controller="Presentacion" asp-action="QuienesSomos">¿Quienes Somos?</a>
            <a class="ml-5" asp-area="" asp-controller="Presentacion" asp-action="ServiciosProductos">Servicios y Productos</a>
            <a class="ml-5" asp-area="" asp-controller="Presentacion" asp-action="Contacto">Contactanos</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
