<h1 class="mt-5">CATALOGO</h1>

<div class="d-flex flex-wrap">
    <div class="col-4">
        <img src="../img/1.jpg" width="100%">
    </div>
    <div class="col-4">
        <img src="../img/ss.jpg" width="100%">
    </div>
    <div class="col-4">
        <img src="../img/ssss.jpg" width="100%">
    </div>
    <div class="col-4">
        <img src="../img/ssssss.jpg" width="100%">
    </div>
</div>