<h1>LA PIRAÑA</h1>

<br>
<h3>Historia</h2>

<p style="text-align: justify;">
    La empresa surgio en el año 2019, año donde se inicio de buena manera
    Por adversidades de la vida, se cambio la modalidad de atencion habitual
    Por este motivo se animaron a lanzar una de las primeras tiendas exclusivamente 
    online. Por aquel entonces, esto no era tan habitual como ahora y encontraron
    muchas dificultades: no había gestores de contenidos, ni tantas facilidades 
    con los medios de pago, el consumidor no tenía confianza en la compra 
    online, etc ¡Toda una aventura!
 </p>

 <h3>Mision</h3>
 <p style="text-align: justify;">
     Brindar la mejor diversion y entretenimiento a todos los asistentes
 </p>

 <h3>Vision</h3>
 <p style="text-align: justify;">
     Ser la mejor empresa recreativa e innovadora de fiestas infantiles
 </p>